$dark-orange: #f88723;
$light-orange: yellow;
*,::after,::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width: 40rem;
  height: 50rem;
  margin: 2rem auto;
  

}
.card{
  width: 100%;
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
     color: white;



  

&__side{
    height: 50rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transition: all .8s ease;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    text-align: center;

  
  &--front{

    background-image: linear-gradient(to top right, $dark-orange, $light-orange)  }
  
 
  
  &--back{
    background: linear-gradient(to right bottom, $dark-orange, $light-orange);
    transform: rotateY(180deg);
    display: flex;
    justify-content:center;
    align-items: center;
    
  }
}

  &:hover &__side--front{
    transform: rotateY(-180deg);
  }
  &:hover &__side--back{
    transform: rotateY(0deg);
  }
  
}
.card__picture{
  height: 23rem;
  background-image: linear-gradient(to top right, $dark-orange, $light-orange), url('https://download.unsplash.com/photo-1428604467652-115d9d71a7f1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: screen;

}

 .card__heading{
   font-size: 2rem;
   position: absolute;
   right:0;
   top: 16rem;
  }
 .card__details{
   
   font-size: 1.5rem;
   padding-top: 3rem;
   text-transform: uppercase;

   li{
     &::after{
       display:block;
       content: '';
       width: 80%;
       margin: 0 auto;
       height:.06rem;
       background: lighten(orange, 10%);
       margin-top: 2rem;
     }
   &:not(last-child){
     padding-bottom: 1rem;
   }
   }
    
  }

.pro-button{
  color: $dark-orange;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem .5rem;
  border: 1px solid orange;
  background: $dark-orange;
  color: white;
  box-shadow: .025rem .5rem  .5rem rgba(black, .15);
  transition: all .3s ease;
  
  &:focus,&:active{
    outline: none;
    transform: translateY(.2rem);
    border: 2px solid orange;

  }
  
}
.lead{
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0rem 2rem 3rem;
}
  